/* Global styles */

body {
    font-family: "Roboto", serif;
    background-color: #f2f7f4;
}

h1,
h2,
h3 {
    font-family: "Bebas Neue", sans-serif;
    color: #495956;
}

/* Header */

.headercontainer {
    padding: 1rem;
    margin: 0.5rem 0.5rem;
    background-color: #f2e7dd; 
    border: 2px solid #495956;
    border-radius: 4rem;
}

.headercontainer a {
    color: #495956;
}

.headercontainer a:hover {
    color: #252d2b;
}

.progress-bar {
    background-color: #495956;
}

/* Icons */

.icons {
    padding: 1rem;
  }
  
  .icon-row {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    margin-top: 1rem;
  }
  
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: #252625;
  }
  
  .icon-wrapper i {
    font-size: 35px;
    margin-bottom: 0.3rem;
    color:#495956;
  }

  .icon-wrapper p {
    margin-top: 1rem;
  }

/* Main */


